<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "7100877.jpg" %>
	</div>

	<div id="content">
		<h1>Hello! Welcome to my blog</h1>
		<p>I am Emma Williams, a Junior Developer. I am currently attemtping to create 12 websites in two weeks.</p>
		<p>Today I built a blog in Rails 4.</p>
		<p>If you'd like to follow along as I learn more Ruby on Rails, find me on Github at <a href="http://github.com/em01">Em01</a></p>
	</div>
</div>